/*.card-b{
  position: relative;
  position: absolute;
  left: 50px;
  top: 250px;
}

.testimonial_subtitle{
  color: #0aaa7a;
  font-size: 12px;
}
.testimonial_btn{
  background-color: #373d4b !important;
  color: #fff !important;
}
.seprator {
  height: 2px;
  width: 56px;
  background-color: #0aaa7a;
  margin: 7px 0 10px 0;
}*/

.carousel-indicators li{

  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.fa-arrow-right{
  color: #000;
}

.fa-arrow-left{
  color: #000;
  background-color: #EBEBEB;
}
.carousel-control-next-icon{
  background-color: rgba(0, 0, 0, 0.04) !important;
  color: #000;
}

.carousel-control-prev-icon{
  background-color: rgba(0, 0, 0, 0.04) !important;

}
/*
.carousel-indicators{
  background-color: red;
}*/
.slide{
  padding: 3rem 5rem;
}

.creative-director-text{
  font-size: 10px;
}

.carousel-indicators .active{
  background-color: #000;
} 

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  color: #000;
}


.nav-item-css {
  margin-right: 1.5rem;
  font-family: 'Karla' !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

}


.nav-link-css {
  font-weight: 500;
  color:  #121212 !important;
  border-radius: 5px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;

}


.nav-link-css:hover {
  color: red !important;
}


.portfolio{
font-family: Karla;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 56px;
letter-spacing: 0.04em;

color: #121212;
}
.about-me-bg{
  margin-top: 10rem;
}
.about-me-card{
  background-color: #000;
  color: #fff;
  position: relative;
  position: absolute;
  bottom: -170px;
  right: 80px;
  border: none;
}

.about-mee-card{
  color: #000;
  background-color: #fff;
  position: relative;
  position: absolute;
  bottom: 50px;
  left: -110px;
  border: none;
}

.bttt{
  background-color: #000;
  color: #fff;
  position: relative;
  position: absolute;
  bottom: 50px;
  left: -50px;
  border: none;
}



.featured-in{
  
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  letter-spacing: 0.04em;
  color: #121212;
}
.featured{
  margin-top: 11rem;
}

.featured-bg{
  background-color: #EBEBEB;
  height: 140px;
  margin-bottom: 3rem;
}

.card-bg{
  position: relative;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #fff;
  border-radius: 100%;
  height: 40px;
  width: 50px;
  padding: 5px;
}

.fa-arrow-right {
  background-color: #e5e5e5;
  width: 30px;
  height: 20px;
}

.fa-arrow-up{
  background-color: #e5e5e5;
  width: 30px;
  height: 25px;
}

.contact-us{
  background-color: #EBEBEB;
}

.contact-btn{
  background-color: black;
  color: #fff;
  border-radius: 0%;
}

.See-More-btn{
  border: 1px solid black;
  color: #000;
  border-radius: 0%;
  display: none;
}

textarea{
  border-radius: 0%;
  resize: none;
}

.form-control{
  height: 46px;
}

footer{

  background-color: #121212; 
 
}

.footer-text{
  font-family: 'Rozha One' !important;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 170.7%;
  color: #fff;
}

.social-card{

  border: 5px solid #121212;
  /*width: 100%;*/
}

.social-car .cards{
  border: 5px solid #121212;
  width: 90%;
  display: flex;
  align-items: flex-end;
}

.social-card-text{
  position: relative;
  position: absolute;
  bottom: 290px;
  left: 130px;
  background-color: #fff;
  color: #121212;
}

.social-card-text-big{
  background-color: #fff;
  font-family: 'Rozha One'!important;
  font-style: normal;
  font-weight: bolder;
  font-size: 44px;

  /* or 109px */
  color: #121212;
}
.social-card-text-small{
  background-color: #fff;
  color: #121212;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.about-mobile-view-only{
  display: none;
}




@media only screen and (max-width: 1200px){

}


@media only screen and (max-width: 992px){
  .about-me-card{
    background-color: #000;
    color: #fff;
    position: relative;
    position: absolute;
    bottom: -170px;
    right: -10px;
    border: none;
  }

 

}

@media only screen and (max-width: 768px) {

  .social-card{

    border: 5px solid #121212;
    width: 100%;
  }

  .social-card-text{
    position: relative;
    position: absolute;
    bottom: 790px;
    left: 50px;
    background-color: #fff;
    color: #121212;
  }
  
  .social-card-text-big{
    font-family: 'Rozha One '!important;
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
    color: #121212;
  }
  .card-text-small{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #121212;
  }

  .See-More-btn{
    border: 1px solid black;
    color: #000;
    border-radius: 0%;
    display: initial;
  }

  .img-destop-view-only{
    display: none;
  }

  .about-me-card{
    background-color: #000;
    color: #fff;
    position: relative;
    position: absolute;
    bottom: -170px;
    right: 80px;
    border: none;
    display: none;
  }
  
  .about-me-bg{
    margin-top: 2rem;
  }

  .about-mobile-view-only{
    display: initial;
  }

  .mobile-img{
    width: 100%;
    height: 100%;
  }

  .slide{
    padding: 0.5rem;
  }
  footer{
    margin-top: 2rem;
  }
.mb img{
  width: 40px;
  height: 200px;
  margin-right: 0%;
  padding: 0%;
}

.featured{
  margin-top: 3rem;
}


}


@media only screen and (max-width: 576px){
  .social-card{

    border: 5px solid #121212;
    width: 62%;
  }

  .social-card-text{
    position: relative;
    position: absolute;
    bottom: 550px;
    left: 5px;
    background-color: #fff;
    color: #121212;
  }
  
  .social-card-text-big{
    font-family: 'Rozha One '!important;
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
    color: #121212;
  }
  .card-text-small{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #121212;
  }

  .See-More-btn{
    border: 1px solid black;
    color: #000;
    border-radius: 0%;
    display: initial;
  }

  .img-destop-view-only{
    display: none;
  }

  .about-me-card{
    background-color: #000;
    color: #fff;
    position: relative;
    position: absolute;
    bottom: -170px;
    right: 80px;
    border: none;
    display: none;
  }
  
  .about-me-bg{
    margin-top: 2rem;
  }

  .about-mobile-view-only{
    display: initial;
  }

  .mobile-img{
    width: 100%;
    height: 100%;
  }

  .slide{
    padding: 0.5rem;
  }
  footer{
    margin-top: 2rem;
  }
.mb img{
  width: 40px;
  height: 200px;
  margin-right: 0%;
  padding: 0%;
}

.featured{
  margin-top: 3rem;
}

.about-mee-card{
  width:
}


.social-card-text-big{
  background-color: #fff;
  font-family: 'Rozha One'!important;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;

  /* or 109px */
  color: #121212;
}
.social-card-text-small{
  background-color: #fff;
  color: #121212;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
}


.about-mee-card{
  color: #000;
  background-color: #fff;
  position: relative;
  position: absolute;
  bottom: 40px;
  left: -90px;
  border: none;
}

.about-mee-card{
  width: 193px !important;
}

}